<module>
	<rawname>fw_ari</rawname>
	<name>FreePBX ARI Framework</name>
	<version>2.5.0.1</version>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*2.5.0.1* remove inclusion of libfreepbx.install.php in install script resulting in warnings
		*2.5.0* #3104 and First release of fw_ari
	</changelog>
	<description>
		This module provides a facility to install bug fixes to the ARI code that is not otherwise housed in a module, it used to be part of framework but has been removed to isolate ARI from Framework updates.
	</description>
	<type>setup</type>
	<category>Basic</category>
	<location>release/2.5/fw_ari-2.5.0.tgz</location>
	<md5sum>f2c1b29be32e06a29adf6bde2ce3251c</md5sum>
</module>
