<module>
	<rawname>fw_langpacks</rawname>
	<modtype>framework</modtype>
	<repo>extended</repo>
	<name>FreePBX Localization Updates</name>
	<version>2.10.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.10.0.0* pull in updated languages
		*2.9.0.1* #4404
		*2.9.0.0* language updates
	</changelog>
	<description>
		This module provides a facility to install new and updated localization translations for all components in FreePBX. Localization i18n translations are still kept with each module and other components such as the User Portal (ARI). This provides an easy ability to bring all components up-to-date without the need of publishing dozens of modules for every minor change. The localization updates used will be the latest available for all modules and will not consider the current version you are running.
	</description>
	<category>Admin</category>
	<location>release/2.9/fw_langpacks-2.9.0.1.tgz</location>
	<md5sum>e0df05684910eb0c2864727e89d1c405</md5sum>
</module>
